:root {
    --accent-color-1: #7A2640;
    --accent-color-2: #267A60;
    --accent-color-3: #300044;
    --light-gray: #ebebeb;
    --medium-gray: #9c9c9c;
    --dark-gray: #444444;
}

body {
    font-family: "Merriweather", sans-serif;
}
footer {
    border-top: 2px solid var(--accent-color-1);
}
li {
    padding: 0.3em 0;
}


.home-hero {
    background: url(../img/salon-hero-noir-420w.jpeg);
    height: 210px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
@media (min-width: 421px) {
    .home-hero {
        height: 550px;
        background: url(../img/salon-hero-noir-1200w.jpeg);
    } 
}

#mobile-menu-icon div {
    border-bottom: 2px solid;
    width: 35px;
    padding-top: 8px;
}

.top-bar {
    background-color: var(--accent-color-1);
    height: 35px;
}
.top-bar p, .top-bar a {
    color: #fff;
}

.cta-button {
    display: inline-block;
    text-decoration: none;
    background: var(--accent-color-3);
    color: white;
    padding: 1em;
    box-shadow: 0 0 5px grey;
}